<%= link_to image_tag(current_user.avatar.url(:thumb), alt: current_user.name, class: "avatar"), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to "Check my borkfile", current_user %></span>
<span><%= pluralize(current_user.microposts.count, "micropost") %></span>