<footer class="footer">
  <small>
    The <a href="http://bork-app.herokuapp.com">Bork App</a>
    by Mikota</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Fried Chicken", chicken_path %></li>
    </ul>
  </nav>
</footer>